# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
_data/

.pytest_cache/

TODO.md

# INTEGRATION TESTS
#
# Integration tests require some files which don't properly belong
# in the repository.  So, they'll be excluded here.

# Individual docstrings to parse, and the attributes they're expected
# to have.
integration_tests/goldens.json

# The largest of the above docstrings.
integration_tests/max_golden.json

# The cached result of the latest test run, if we want to rerun the
# test just to see the results.
.performance_testrun
.performance_module_testrun

# When tinkering with performance, this will give an idea of how the
# performance has changed over time.
.performance_history

# Cloned whole repos to test against.  Ideally, these will be quite
# large, so it doesn't make sense to include them.
integration_tests/repos/
