os: linux
language: python

dist: bionic

install: pip install tox pytest

script: tox

jobs:
  include:
    - env: TOXENV=py36
      python: 3.6
    - env: TOXENV=py37
      python: 3.7
    - env: TOXENV=py38
      python: 3.8
    - env: TOXENV=py39
      python: 3.9