.main-content {
    width: 800px;
    height: 580px;

    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actions .default-entry {
    cursor: pointer;
    margin-top: auto;
}

.docstring-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.docstring-container .docstring {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: auto;
}

.docstring-container .docstring .word {
    margin-right: 0.5em;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.docstring-container .docstring .line {
    display: flex;
    flex-direction: row;
    min-height: 1em;
}

.docstring-container .docstring .indent {
    width: 4em;
    height: 1px;
    display: inline-block;
}

.docstring-container .metadata-container {
    margin: 20px 0 20px 20px;
}

.docstring-container .metadata {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.docstring-container .metadata .dropbox {
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
    width: 200px;
	min-height: 100px;
    margin: 4px;
    overflow-y: scroll;
}

.selected  {
    background-color: rgba(0, 256, 0, 0.1);
}

.docstring-container .metadata .dropbox .section-title {
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    cursor: pointer;
}

.selector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: auto;
}

.selector .page-number {
    display: flex;
    flex-direction: row;
}

.selector input {
    -webkit-appearance: none;
    -moz-appearance:textfield;
    margin: 0;
    width: 25px;
}

.metadata {
    display: flex;
    flex-direction: column;
}

.metadatum {
    cursor: pointer;
}
